

.navbar-fixed{
    .white{
        height: 100px;
        line-height: 100px;
    }

    .nav-wrapper{
        width: 100%;
    }

    ul {
        height: 100%;
        display: flex;
        align-items: center;
    }

    nav ul a, nav {
        font-family: 'Poppins', sans-serif;
        color: #858585;
        font-size: 1.2rem;

        &:hover{
            color: #E2001A;
            background-color: white;
        }
    }

    img {
        margin-top: 0px;
        height: 100px;
        margin-left: 20px;
    }
}

#sidenav-overlay{
    // display: none;
    z-index: 20;
}

@media (max-width: 600px) {
    .navbar-fixed{
        .nav-wrapper{
            width: 100% !important;
        }
        .container{
            margin-left: 0px !important;
            margin-right: 0px !important;
        }
    }
}

ul.side-nav {
    display: initial;
    padding-top: 2em;
}